:root {
	--font-family-text: 'PT Sans', sans-serif;
	--font-size-normal: 16px;
	--color-black: hsl(256deg 17% 15% / 100%);
	--color-white: hsl(0deg 6% 98% / 100%);
	--color-fuchsia: hsl(295deg 98% 47%);
	--color-dark-violet: hsl(285deg 65% 15%);
}
